services:

  #################### ZOOKEEPER ####################
  zookeeper:
    container_name: zookeeper
    image: confluentinc/cp-zookeeper:7.7.7

    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

    ports:
      - "2181:2181"

    volumes:
      - zookeeper-data:/var/lib/zookeeper/data
    
    healthcheck:
      test: ["CMD", "bash", "-c", "echo ruok | nc localhost 2181 | grep imok"]
      interval: 10s
      timeout: 5s
      retries: 5

    networks:
      - local


  #################### KAFKA ####################
  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka:7.7.7

    depends_on:
      - zookeeper

    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

    ports:
      - "9092:9092"
      - "29092:29092"

    volumes:
      - kafka-data:/var/lib/kafka/data

    networks:
      - local


  #################### KAFKA UI ####################
  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest

    depends_on:
      - kafka

    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181

    ports:
      - "8080:8080"

    networks:
      - local


  #################### MONGODB ####################
  mongodb:
    container_name: mongodb
    image: mongo:6.0-rc-jammy

    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password

    ports:
      - "27017:27017"

    volumes:
      - mongodb-data:/data/db

    networks:
      - local


  #################### ELASTICSEARCH ####################
  elastic-search:
    container_name: elastic-search
    image: elasticsearch:9.2.2

    environment:
      discovery.type: single-node
      xpack.security.enabled: "false"
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"

    ports:
      - "9200:9200"
      - "9300:9300"

    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data

    networks:
      - local


  #################### KIBANA ####################
  kibana:
    container_name: kibana
    image: kibana:9.2.2

    depends_on:
      - elastic-search

    environment:
      ELASTICSEARCH_HOSTS: http://elastic-search:9200

    ports:
      - "5601:5601"

    networks:
      - local


#################### VOLUMES ####################
volumes:
  zookeeper-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: F:/docker-images/volumes/zookeeper_data
  kafka-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: F:/docker-images/volumes/kafka_data
  mongodb-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: F:/docker-images/volumes/mongodb_data
  elasticsearch-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: F:/docker-images/volumes/elasticsearch_data


#################### NETWORK ####################
networks:
  local:
    driver: bridge


# volumes:
#   postgres_data:
#     driver: local
#     driver_opts:
#       type: none
#       o: bind
#       device: F:/docker-images/volumes/pg_data
#   airflow_logs:
#     driver: local
#     driver_opts:
#       type: none
#       o: bind
#       device: F:/docker-images/volumes/airflow_logs
